{% load i18n %}
<script>
    $(function () {
        // Toggle display for 2nd set of hours
        $('.set2').toggle($('#two_sets').is(':checked'));
        $('#two_sets').on('click', function () {
            $('.set2').toggle();
        });

        // Shortcut to repeat Monday's hours for rest of the week
        $('#repeat').on('click', function (e) {
            e.preventDefault();
            // Disable until needed
            $(this).addClass('disabled');
            // Get Monday values
            var opens = $('#id_day1_1-opens option:selected').val();
            var shuts = $('#id_day1_1-shuts option:selected').val();
            var opens2 = $('#id_day1_2-opens option:selected').val();
            var shuts2 = $('#id_day1_2-shuts option:selected').val();
            // Apply to rest of week
            $('.day').each(function (index, element) {
                var i = index + 1;
                $('#id_day' + i + '_1-opens').val(opens);
                $('#id_day' + i + '_1-shuts').val(shuts);
                $('#id_day' + i + '_2-opens').val(opens2);
                $('#id_day' + i + '_2-shuts').val(shuts2);
            });
        });
        // Enable repeat shortcut now a time is selected
        $('select').on('click', function () {
            $('#repeat').removeClass('disabled');
        });

        // Disable time selection for a day if closed
        var closed = function (e) {
            $(e).parents('.day').find('select').prop('disabled', e.checked);
        };
        $('.closed').each(function () {
            closed(this);
        });
        $('.closed').on('click', function () {
            closed(this);
        });

        $('.delete-button').on('click', function (e) {
            $(e.target).closest('.form-formset').find('input').val("");
            $(this).closest('.form-formset').toggle();
        });
    });
</script>

<style>
    .weekday {
        display: inline-block;
        width: 6em
    }

    label {
        font-weight: normal
    }

    form {
        padding-top: 2em
    }

    .title {
        margin-bottom: 0;
    }

    .subtitle {
        margin-top: 0;
        margin-bottom: 20px;
    }
        .start, .end {
      display: inline-block;
    }

    .end{
      float: right;
    }

    .start > div, .end > div, .start-end-container {
      display: inline;
    }

    .start > div > label, .end > div > label {
      display: inline;
      width: 65px;
    }

    .datepicker-container > input{
        width: 100px;
    }

    .time-container > select {
      width: 100px;
      height: 35px;
      margin-top: 5px;
    }

    .reason-container > input{
        width: 96%;
    }

    .red-text{
      color: red;
    }

</style>

<form method="POST" action="#" class="opening-hours-form">
    {% block form-fields %}
        {% csrf_token %}
        {% for day in days %}
            <div class="day">
                <span class="set1">
                    <span class="weekday text-muted text-right">
                    {{ day.name }}</span>
                    {{ day.slot1.opens }} <span class="delimiter">-</span> {{ day.slot1.shuts }}</span>
                <span class="set2"><span class="small text-muted">and</span>
                    {{ day.slot2.opens }} <span class="delimiter">-</span> {{ day.slot2.shuts }}</span>
                <label class="closed-label">
                    <input type="checkbox" class="closed" id="closed{{ day.number }}" {% if day.closed %}checked{% endif %}>
                    Closed
                </label>
                {% if forloop.first %}
                <button class="btn btn-default btn-xs" id="repeat">
                    Apply to all days
                </button>
                {% endif %}
            </div>
        {% endfor %}
        <p>
            <label class="two-sets-label">
                <input type="checkbox" id="two_sets"
                         {% if two_sets %}checked{% endif %}>
                There are 2 sets of hours for 1 day.
            </label>
        <p>
    {% endblock form-fields %}

    <h4 class="title" style="padding-top: 10px;">Holiday Closing Schedule</h4>
    <h5 class="subtitle">Determines special cases like holidays when your location is closed.</h5>

    {% for form in formset %}
        {{ form.id }}
        <div class="form-formset">
            {% if not forloop.last %}
            <button type="button" class="close pull-right delete-button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% endif %}
            <span class="start-end-container">
                <div class="start">
                    {{ form.start_date.label_tag }}
                    <div class="datepicker-container">{{ form.start_date }}</div>
                    <div class="time-container">{{ form.start_time }}</div>
                </div>
                <div class="end">
                    {{ form.end_date.label_tag }}
                    <div class="datepicker-container">{{ form.end_date }}</div>
                    <div class="time-container">{{ form.end_time }}</div>
                </div>
            </span>
            <div class="reason-container">
                {{ form.reason.label_tag }}
                {{ form.reason }}
            </div>
            <hr/>
        </div>
    {% endfor %}
    {{ formset.management_form }}
    {% if include_form_actions %}
        {% block form-actions %}
            <button class="btn btn-primary">Apply</button>
            <a href="../" class="btn btn-default">Cancel</a>
        {% endblock form-actions %}
    {% endif %}
</form>
